<div class='account-body'>
  <div class='bus-trips-is-booked'>
    <div class='shadow-sm box-header__section body__header-section d-flex justify-content-between rounded mx-3'>
      <div class='d-flex gap-2 align-items-center'>
        <div class='body__header__title'>Các chuyến đã đặt</div>
        <div class='bg-secondary' style='width: 1px; height: 100%'></div>
        <div>
          Hiển thị
          <span class='text-primary'>{{orders.length}} kết quả</span>
        </div>
      </div>
    </div>
    <div class='w-100 d-flex flex-column gap-3 px-3'>
      {{#each orders}}
        <div class='rounded d-flex border' style='overflow: hidden;'>
          <div class='w-75'>
            {{> ticket this.Route}}
          </div>
          <div
            class='w-25 bg-secondary bg-opacity-10 d-flex flex-column justify-content-center align-items-center'
          >
            <div class='fw-bold fs-5 mb-2'>{{formatNumber this.total ' VNĐ'}}</div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="my-3 text-center">
      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">1</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">2</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">3</label>
      </div>
    </div>
  </div>
  <div class='profile-user'>
    <div>
      <div class='avatar'>
        <img class='avatar-pic' src='{{or user.imgUrl "/images/account/avatar.png"}}' alt='avatar-user' />
      </div>
      <div class='Information-User'>
        <div class='Username'><b>{{user.fullname}}</b></div>
        <div class='Email-User'><p>{{user.email}}</p></div>
        <div class='Email-User'><p>{{user.phone}}</p></div>
        <div class='Email-User'><p>{{user.dateOfBirth}}</p></div>
      </div>
      <div class='btn'>
        <button onclick="onNavigateTo('account/edit')" id='btn-X'>Chỉnh sửa trang cá nhân</button>
        <button onclick="onNavigateTo('login/coach')" id='btn-X'>Đăng nhập nhà xe</button>
      </div>
    </div>
  </div>
</div>