<div class='bg-light d-flex justify-content-between rounded mt-3'>
  {{#with order}}
  <h4
    class='ticket-detail--header ps-3 rounded mt-2 text-start d-inline-block'
  >Chi tiết vé đã đặt - Mã chuyến ABC123</h4>
  <p
    class='bg-primary px-4 me-3 mt-2 mb-2 py-1 fs-6 d-inline-block text-end text-white rounded'
  >Tình trạng: vừa đặt</p>
</div>
<div class='rounded bg-white my-3 pb-5 text-center'><h4 class='py-2 m-0'>Thông tin chi tiết</h4>
  <hr class='w-75 mx-auto' />
  <div class='d-flex flex-content-around px-5 py-4'>
    <div class='fs-6 w-50 text-start ps-5 ms-5'>
      <p class='fw-semibold'>Người đặt</p>
      <ul>
        <li class='pt-2 text-secondary'>Họ tên: {{User.fullname}}</li>
        <li class='pt-2 text-secondary'>Email: {{User.email}}</li>
        <li class='pt-2 text-secondary'>Số điện thoại: {{User.phone}}</li>
      </ul>
      <P class='fw-semibold'>Số ghế:</P>
      <ul>
        <li class='pt-2 text-secondary'>A01, A02</li>
      </ul>
    </div>
    <div class='w-50 text-start pe-4'>
      <P class='my-1 fw-semibold'>Thanh toán:</P>
      
      <p></p>
      <ul>
        <li class='pt-2 text-secondary'>Số tiền thanh toán: 600.000vnd (đã khấu trừ voucher)</li>
        <li class='pt-2 text-secondary'>Hình thức thanh toán: chuyển khoản momo</li>
        <li class='pt-2 text-secondary'>Trạng thái: đã thanh toán</li>
      </ul>
      <P class='my-1 fw-semibold pt-4'>Lưu ý:</P>
      <ul class='pb-3'>
        <li class='pt-2 text-secondary'>Để hủy chuyến xe, vui lòng liên hệ với nhà xe trước 1 tiếng
          nếu không vé sẽ không hoàn trả lại tiền</li>
        <li class='pt-2 text-secondary'>Vui lòng đến điểm đón của nhà xe 15-30 phút trước khi xe
          khởi hành</li>
      </ul>
    </div>
  </div>
  <hr class='w-75 mx-auto' />

  <div class='d-flex flex-content-around text-start px-5 py-4'>
    <div class='text-start w-50 ps-5 ms-5'>
      <p class=''><span class='fs-6 fw-semibold'>Ngày đặt: </span>04/11/2022</p>
      <img src='/images/car.png' class='w-50' alt='' srcset='' />
      <P class='fw-bold fs-5'>{{Route.Coach.name}}</P>
      <P class='fw-light'><i class='fa fa-map-marker text-info'></i>
        780 đường San Fran Xích Long, Fu Nhuan</P>
    </div>
    <div class='w-50 text-start'>
      <P class='my-1'>Nhà xe: <span class='fw-semibold'>ABC</span> </P>
      <P class='my-1'>Số điện thoại nhà xe: <span class='fw-semibold'></span> </P>
      <P class='my-1'>Đánh giá:
        <span class='text-info'>(5)</span><i
          class='fa fa-star text-warning'
        ></i>
      </P>
      <P class='my-1'>Loại xe: <span class='fw-semibold'>Limousine - {{Route.Coach.seatAmount}} chỗ</span></P>
      <P class='my-1'>Mã chuyến xe: <span class='fw-semibold'>{{Route.Coach.id}}</span></P>
      <p class='my-1'><span class='fw-semibold'>{{Route.startStation.city}} - {{Route.endStation.city}}</span></p>
      <P class='my-1'>Ngày đi: <span class='fw-semibold'>5/11/2022</span></P>
      <P class='my-1'>Giờ khởi hành: <span class='fw-semibold'>18:30</span></P>
      <P class='my-1'>Giờ tới (dự kiến): <span class='fw-semibold'>05:30</span></P>
      <P class='my-1'>Tổng thời gian (dự kiến): <span class='fw-semibold'>12h</span></P>
      <div class='d-flex flex-content-around my-4 d-block'>
        <a href='/booking/cancel_ticket' class='btn btn-danger px-4 me-3' value=''>HỦY VÉ</a>
        <a href='/' class='btn btn-primary px-4 me-3' value=''>IN VÉ PDF</a>
        <a href='/booking/edit_order/{{id}}' class='btn btn-primary px-4 me-3' value=''>SỬA THÔNG TIN</a>

      </div>
    </div>
  </div>
  <hr class='w-75 mx-auto' />
      {{/with}}

</div>