<div class='bg-white py-3 px-5'>
  <div class='shadow-sm box-header__section body__header-section d-flex justify-content-between rounded'>
    <div class='d-flex gap-2 align-items-center'>
      {{#if isEdit}}
        <div class='body__header__title'>Chỉnh sửa chuyến xe</div>
      {{else}}
        <div class='body__header__title'>Thêm chuyến xe</div>
      {{/if}}
    </div>
  </div>
  <form method='post' id='edit_profile_form'>
    <div class='d-flex align-items-center justify-content-between'>
      <div class='w-100'>
        <div style='display:flex; flex-direction:column;'>
          <label for='station_start'><b>Bến đi:</b></label>
          <select id="station_start" name="station_start" class="form-select"
            aria-placeholder="Chọn bến xe đi" required>
            <option value="">Chọn bến xe đi</option>
            {{#each stations}}
              {{#if (and ../station (equal ../station.city this))}}
                <option value="{{this}}" selected>{{this}}</option>
              {{else}}
                <option value="{{this.id}}">{{this.name}}</option>
              {{/if}}
            {{/each}}
          </select>
        </div>
        <div style='display:flex; flex-direction:column;'>
          <label for='station_end'><b>Bến đến:</b></label>
          <select id="station_end" name="station_end" class="form-select"
            aria-placeholder="Chọn bến xe đến" required>
            <option value="">Chọn bến xe đến</option>
            {{#each stations}}
              {{#if (and ../station (equal ../station.city this))}}
                <option value="{{this}}" selected>{{this}}</option>
              {{else}}
                <option value="{{this.id}}">{{this.name}}</option>
              {{/if}}
            {{/each}}
          </select>
        </div>
        <div style='display:flex; flex-direction:column;'>
          <label for='date_start'><b>Ngày bắt đầu:</b></label>
          <input
            class='form-control w-100'
            type='datetime-local'
            name='date_start'
            value='{{user.dateOfBirth}}'
          />
        </div>
        <div style='display:flex; flex-direction:column;'>
          <label for='date_end'><b>Ngày kết thúc:</b></label>
          <input
            class='form-control w-100'
            type='datetime-local'
            name='date_end'
            value='{{user.dateOfBirth}}'
          />
        </div>
        <div style='display:flex; flex-direction:column;'>
          <label for='coach'><b>Xe di chuyển:</b></label>
          <select id="coach" name="coach" class="form-select"
            aria-placeholder="Chọn xe di chuyển" required>
            <option value="">Chọn xe di chuyển</option>
            {{#each coaches}}
              {{#if (and ../station (equal ../station.city this))}}
                <option value="{{this}}" selected>{{this}}</option>
              {{else}}
                <option value="{{this.id}}">{{this.name}}</option>
              {{/if}}
            {{/each}}
          </select>
        </div>
        <div style='display:flex; flex-direction:column;'>
          <label for='price'><b>Giá vé xe:</b></label>
          <input
            class='form-control w-100'
            type='number'
            name='price'
            placeholder='Giá vé xe (VNĐ)'
          />
        </div>
      </div>
    </div>
    <div class="d-flex gap-2 mt-3">
      {{#if isEdit}}
      <button class="btn btn-primary w-100">Cập nhật</button>
      {{else}}
      <button class="btn btn-primary w-100">Tạo</button>
      {{/if}}
      <button onclick="onNavigateTo('garage')" type="button" class="btn
        btn-outline-primary w-100">Quay lại</button>
    </div>
  </form>
</div>