<div class='container'>

  <div class='bg-white rounded px-5 py-2 mt-3 d-flex justify-content-between rounded'>
    <h3>Thông tin nhà xe</h3>
    <div class='detail-header-button'>
      <button onclick="onNavigateTo('garage/{{id}}/info')" class='btn btn-primary'>Thông tin và giá</button>
      <button onclick="onNavigateTo('garage/{{id}}/rating')" class='btn btn-secondary'>Đánh giá</button>
    </div>
  </div>

  <div class='bg-white rounded d-flex p-4 my-3'>
    <div class='w-50'>
      <img src='/images/details/mailinh.jpeg' alt='' class='w-100' />
    </div>
    <div class='ms-4'>
      <h2>{{garage.name}}</h2>
      <p>Đường dây nóng: 0985 29 29 29 29</p>
      <p>Tổng đài: 08. 39 39 39 39</p>
      <div class='detail-body-info-rating'>
        <p class='star-rating'>
          4.8
          <i class='fa-solid fa-star'></i>
        </p>
        <p>67 đánh giá</p>
        {{#each station}}
          <p>{{phone}}</p>
        {{/each}}
      </div>
      <div class='detail-body-service'>
        <h2>Dịch vụ</h2>
        <div id='comfortable'>
          <i class='fa-solid fa-fan'></i>
          <p>Điều hòa</p>
          <i class='fa-solid fa-wifi'></i>
          <p>Wifi</p>
        </div>
        <div id='FAB'>
          <i class='fa-solid fa-square-check'></i>
          <p>Nước uống</p>
          <i class='fa-solid fa-square-check'></i>
          <p>Khăn lạnh</p>
          <i class='fa-solid fa-square-check'></i>
          <p>Ăn nhẹ</p>
        </div>
      </div>
    </div>
  </div>

  <div class='bg-white p-4 rounded mb-3'>
    <h3>Chi tiết công ty</h3>
    <div class='d-flex align-items-start ms-2'>
      <i class='fa-solid fa-location-dot fs-1 px-2 d-block'></i>
      <div class='ms-4'>
        <p class='fs-5 text-dark fw-semibold py-0 my-0'>Địa chỉ</p>
        <ul class='ms-2 py-0 my-0'>
          {{#each station}}
            <li>{{street}}, {{district}}, {{ward}}, {{city}}</li>
          {{/each}}
        </ul>

      </div>
    </div>
    <div class='d-flex align-items-center ms-2'>
      <i class='fa-solid fa-clock fs-1 px-2 d-block'></i>
      <div class='ms-2'>
        <p class='fs-5 text-dark fw-semibold my-0'>Giờ làm việc</p>
        <div class='ms-2 p-0'>
          <p class='my-0'>Thứ 2 - Chủ Nhật</p>
          <p>6:00 - 23:00</p>
        </div>

      </div>
    </div>
    {{! <div id='map'>
        <img src='/images/details/map.jpeg' alt='' />
      </div> }}
  </div>
</div>