<div class='container'>

  <div class='bg-white rounded px-5 py-2 mt-3 d-flex justify-content-between rounded'>
    <h3>Thông tin nhà xe</h3>
    <div class='detail-header-button'>
      <button onclick="onNavigateTo('garage/{{id}}/info')" class='btn btn-primary'>Thông tin và giá</button>
      <button onclick="onNavigateTo('garage/{{id}}/rating')" class='btn btn-secondary'>Đánh giá</button>
    </div>
  </div>

  <div class='bg-white rounded d-flex p-4 my-3'>
    <div class='w-50'>
      <img src='/images/details/mailinh.jpeg' alt='' class='w-100' />
    </div>
    <div class='ms-4'>
      <h2>{{garage.name}}</h2>
      <p>Đường dây nóng: 0985 29 29 29 29</p>
      <div class='d-flex align-items-center m-2'>
        <i class='fa-solid fa-clock d-block pe-2'></i>
        Giờ làm việc:
        <span class='ps-2'> 5:00 - 23:00</span>
      </div>
      <div class='detail-body-info-rating'>
        <p class='star-rating'>
          {{avgRate}}
          <i class='fa-solid fa-star'></i>
        </p>
        <p>{{numOfRate}} đánh giá</p>

      </div>
      <div class='detail-body-service'>
        <h2>Dịch vụ</h2>
        <div id='comfortable'>
          <i class='fa-solid fa-fan'></i>
          <p>Điều hòa</p>
          <i class='fa-solid fa-wifi'></i>
          <p>Wifi</p>
        </div>
        <div id='FAB'>
          <i class='fa-solid fa-square-check'></i>
          <p>Nước uống</p>
          <i class='fa-solid fa-square-check'></i>
          <p>Khăn lạnh</p>
          <i class='fa-solid fa-square-check'></i>
          <p>Ăn nhẹ</p>
        </div>
      </div>
    </div>
  </div>

  <div class='bg-white p-4 rounded mb-3'>
    <p class='fs-2 fw-bold m-0'>Chi tiết công ty</p>
    <div class='d-flex align-items-start ms-2'>
      {{! <i class='fa-solid fa-location-dot fs-1 px-2 d-block'></i> }}
      <div class=''>
        <p class='fs-3 text-dark fw-semibold py-0 my-0'>Địa chỉ và số điện thoại trạm</p>
        <ul class='ms-2 py-0 my-0'>
          {{#each station}}

            <li>{{street}},
              {{district}},
              {{ward}},
              {{city}}
              -
              <span class='fs-6 text-secondary'>{{phone}}</span>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
    <div class='ms-2'>
      <p class='fs-3 text-dark fw-semibold'>Chính sách/Mô tả</p>
      <ul class='ms-2 py-0 my-0'>
        {{#each policy}}
          <li>{{description}}
          </li>
        {{/each}}
      </ul>
    </div>

  </div>
</div>