<div class='bg-white rounded py-3 px-4'>
  <div class='d-flex justify-content-between align-items-center mb-3'>
    <div class='fs-5 fw-bold'>Tuyến đường phổ biến</div>
    <a href='search' class='text-muted'>Xem toàn bộ</a>
    <p>{{startCity}}</p>
    <p>{{arriveCity}}</p>
  </div>
  {{#each route}}
    <div class='d-flex align-items-center pb-3 fw-bold border-bottom mb-3'>
      <img
        src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Circle-icons-car.svg/2048px-Circle-icons-car.svg.png'
        alt=''
        width='50px'
        height='50px'
      />
      <div class='flex-grow-1 mx-3'>{{startStation.city}} - {{endStation.city}}</div>
      <div class='flex-grow-1'>Từ {{fare}}đ</div>
      <div class='flex-grow-1'>Từ ngày {{time.startDay}}</div>
      {{#if (mod this 2)}}
        <button
          onclick="onNavigateTo('search?startCity={{startStation.city}}&arriveCity={{endStation.city}}')"
          class='btn btn-primary rounded-pill px-3'
        >
          Đặt ngay
          <i class='fa-solid fa-caret-right ms-2'></i>
        </button>
      {{else}}
        <button
          onclick="onNavigateTo('search?startCity={{startStation.city}}&arriveCity={{endStation.city}}')"
          class='btn px-3'
        >
          Đặt ngay
          <i class='fa-solid fa-caret-right ms-2'></i>
        </button>
      {{/if}}
    </div>
  {{/each}}
  {{!-- {{#for 0 10 1}}
    <div class='d-flex align-items-center pb-3 fw-bold border-bottom mb-3'>
      <img
        src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/Circle-icons-car.svg/2048px-Circle-icons-car.svg.png'
        alt=''
        width='50px'
        height='50px'
      />
      <div class='flex-grow-1 mx-3'>Sài Gòn - Đà Lạt</div>
      <div class='flex-grow-1'>Từ 150.000đ</div>
      <div class='flex-grow-1'>11/7 đến 20/7</div>

      {{#if (mod this 2)}}
        <button onclick="onNavigateTo('search')" class='btn btn-primary rounded-pill px-3'>
          Đặt ngay
          <i class='fa-solid fa-caret-right ms-2'></i>
        </button>
      {{else}}
        <button onclick="onNavigateTo('search')" class='btn px-3'>
          Đặt ngay
          <i class='fa-solid fa-caret-right ms-2'></i>
        </button>
      {{/if}}
    </div>
  {{/for}} --}}
</div>