<form action='/search' method='GET'>
  <div class='mt-2 py-2 bg-white rounded'>
    {{> search}}
  </div>
  <div class='body__header-section d-flex justify-content-between rounded'>
    <div class='d-flex gap-2 align-items-center'>
      <div class='body__header__title'>Các chuyến</div>
      <div class='bg-secondary' style='width: 1px; height: 100%'></div>
      <div>
        Hiển thị
        <span class='text-primary'>{{numberOfCoaches}} kết quả</span>
      </div>
    </div>
    <div class='d-flex gap-2'>
      {{!-- <button class='btn btn-sm btn-primary rounded-pill'>Rẻ nhất</button>
      <button class='btn btn-sm rounded-pill'>Tốt nhất</button>
      <button class='btn btn-sm rounded-pill'>Gần đây nhất</button> --}}
    </div>
  </div>
  <div class='d-flex gap-3 mb-3'>
    <div class='w-75 d-flex flex-column gap-3'>
      
      {{#each route}}
        <div class='rounded d-flex' style='overflow: hidden;'>
          <div class='w-75'>
            {{> ticket}}      
          </div>
          <div
            class='w-25 bg-secondary bg-opacity-10 d-flex flex-column justify-content-center align-items-center'
          >
            <div class='fw-bold fs-5 mb-2'>{{fare}} VND</div>
            <button onclick="onNavigateTo('booking/create_order/{{id}}')" class='btn btn-primary' type="button">Đặt ngay</button>
          </div>
        </div>
        {{else}}
        <div class='rounded d-flex w-100 h-100 bg-white ' style='overflow: hidden;'>
          
          <h4 class="mx-auto my-5">Không tìm thấy chuyến xe</h4>
        </div>
      {{/each}}
    </div>
    <div class='w-25 align-self-start rounded'>
      <div class='bg-secondary bg-opacity-10 py-2 px-3 fw-semibold fs-6'>Bộ lọc</div>
      <div class='bg-white px-3 py-2'>
        <div class="mb-2">
          <div class="fw-semibold fs-6 mb-2">Giá</div>
            <select class='form-select' name = "priceSort">
              <option value="" selected>Sắp xếp giá</option>
              <option value='lowest'>Thấp nhất</option>
              <option value='highest'>Cao nhất</option>
            </select> 
          </div>
        <div class="mb-2">
          <div class="fw-semibold fs-6 mb-2">Hãng xe</div>
          <select class='form-select' name="garageSort">
            <option value="" selected>Chọn hãng xe</option>
            {{#each garageToSort}}
            <option value='{{this}}' onclick="onNavigateTo('search{{url}}')">{{this}}</option>
            {{/each}}
          </select>

        </div>
        <div class="mb-2">
          <div class="fw-semibold fs-6 mb-2">Loại xe</div>
          <select class='form-select' name="typeSort">
            <option value="" selected>Chọn loại xe</option>
            {{#each typeToSort}}
            <option value='{{this}}'>Limousine {{this}} chỗ</option>
            {{/each}}
          </select>
        </div>
        
      </div>
    </div>
  </div>
</form>