<div class='right-box-width rounded bg-white my-3 h-100'><h4
    class='ticket-detail--header py-2 m-0'
  >Thông tin xe</h4>
  <div class='text-start px-3 fs-6'>
    <div class='text-center'>
      <img src='{{coach.imgUrls}}' class='bus-img-width' alt='' srcset='' />
    </div>
    <P class='fw-bold fs-5'>{{coach.name}}</P>
    {{!-- <input type='text' value={{name}} class='d-none' /> --}}
    <P class='fw-light'><i class='fa fa-map-marker text-info'></i>
      {{route.endStation.street}},
      {{route.endStation.ward}},
      {{route.endStation.district}}</P>
    <P class='my-1'>Nhà xe:
      <span class='fw-semibold'>{{coach.Garage.name}}</span>
      <span class='text-info'>(5)</span><i class='fa fa-star text-warning'></i>
    </P>

    <P class='my-1'>Loại xe:
      <span class='fw-semibold'>Limousine - {{coach.seatAmount}} chỗ</span></P>
    <P class='my-1'>Mã chuyến xe: <span class='fw-semibold'>{{coach.id}}</span></P>
    <p class='my-1'><span class='fw-semibold'>{{route.startStation.city}}
        -
        {{route.endStation.city}}</span></p>
    <input type='text' value='tuyến xe' id='booking_routes' class='d-none' />
    <P class='my-1'>Ngày đi: <span class='fw-semibold'>{{time.startDay}}</span></P>
    <P class='my-1'>Giờ khởi hành: <span class='fw-semibold'>{{time.startTime}}</span></P>
    <P class='my-1'>Giờ tới (dự kiến): <span class='fw-semibold'>{{time.endTime}}</span></P>
    <P class='my-1'>Tổng thời gian (dự kiến):
      <span class='fw-semibold'>{{time.totalHours}}h</span></P>
    <p class='my-1'>
      Mô tả, Chính sách:
      <a href='#'>xem trong chi tiết xe</a>
    </p>
    <P class='mt-5 mb-0'>Đơn giá</P>
    <div class='d-flex justify-content-between border border-secondary rounded my-2'><p
        class='m-2'
      >Số ghế đặt x Giá vé</p><p
        class='m-2 fw-semibold booking_details_fare'
      >0x{{route.fare}}</p></div>
    <p class='text-end fw-semibold fs-5'><span class='booking_details_total'>0</span>
      <span class='fs-6 fw-light'>VNĐ</span></p>
    <input type='text' value='total' id='booking_total_bill' class='d-none' />
  </div>
  <input type='text' name='routeId' value='{{route.id}}' id='route_id' class='d-none' />
  <input type='text' name='coachId' value='{{coach.id}}' id='booking_coach_id' class='d-none' />
  <input type='text' name='userId' value='{{user.id}}' id='booking_user_id' class='d-none' />

</div>