<div class='bg-white p-3 shadow-sm border rounded'>
  <div class='py-2 d-flex gap-5'>
    <div class='d-flex align-items-center gap-2'>
      <img src='{{imgUrls.[0]}}' width='100px' />
    </div>
    <div class='d-flex gap-5'>
      <div class='fw-bold'>
        <div>Biển số xe:</div>
        <div>Loại xe:</div>
        <div>Tổng số ghế:</div>
        <div>Tình trạng:</div>
      </div>
      <div>
        <div>{{code}}</div>
        <div>{{name}}</div>
        <div>{{or seatAmount 0}}</div>
        <div>{{getCoachStatus Routes}}</div>
      </div>
    </div>
    <div class='d-flex gap-2 align-items-center ml-auto'>
      <button onclick="onNavigateTo('garage/coach/edit/{{id}}')" class='btn btn-primary'>
        Xem chi tiết
      </button>
      <button data-bs-toggle="modal" data-bs-target="#deleteCoach{{id}}" class='btn btn-danger'>
        Xoá
      </button>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteCoach{{id}}" tabindex="-1" aria-labelledby="deleteCoach{{id}}Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Xóa nhà xe</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn muốn xóa xe? Xe này sẽ không được sử dụng trong tương lai.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button onclick="onDeleteStation('coach', '{{id}}')" type="button" class="btn btn-danger">Đồng ý xóa</button>
      </div>
    </div>
  </div>
</div>