<div class='bg-white rounded py-3 px-5 d-flex gap-3 align-items-end flex-wrap'>
  <div class='home__select__container dropdown'>
    <div class='ps-3 text-black-50 mb-2 text-sm fw-bold'>LOẠI XE</div>
    <div class='home__select rounded-pill' data-bs-toggle='dropdown' aria-expanded='false'>
      <div>Limousine 20 chỗ</div>
      <i class='fa-sharp fa-solid fa-chevron-down'></i>
    </div>
    <ul class='dropdown-menu w-100'>
      <li><a class='dropdown-item' href='#'>Limousine 20 chỗ</a></li>
      <li><a class='dropdown-item' href='#'>Limousine 16 chỗ</a></li>
      <li><a class='dropdown-item' href='#'>Limousine 34 chỗ</a></li>

    </ul>
  </div>

  <div class='home__select__container dropdown'>
    <div class='ps-3 text-black-50 mb-2 text-sm fw-bold'>ĐIỂM ĐI</div>
    {{! <div class='home__select rounded-pill' data-bs-toggle='dropdown' aria-expanded='false'>
        <div>TP Hồ Chí Minh</div>
        <i class='fa-sharp fa-solid fa-chevron-down'></i>
      </div>  }}

    <select name='startCity' id='startCity' class='home__select rounded-pill'>
      {{#each city}}
        {{#if (and ../startCity (equal ../startCity this))}}
        <option value="{{this}}" selected>{{this}}</option>
        {{else}}
        <option value="{{this}}">{{this}}</option>
        {{/if}}
      {{/each}}
    </select>

  </div>

  <div class='home__select__container dropdown'>
    <div class='ps-3 text-black-50 mb-2 text-sm fw-bold'>ĐIỂM ĐẾN</div>
    
    <select name='arriveCity' id='arriveCity' class='home__select rounded-pill' >
      {{#each city}}
        {{#if (and ../arriveCity (equal ../arriveCity this))}}
        <option value="{{this}}" selected>{{this}}</option>
        {{else}}
        <option value="{{this}}">{{this}}</option>
        {{/if}}
      {{/each}}
    </select>
  </div>

  <div class='home__select__container'>
    <div class='ps-3 text-black-50 mb-2 text-sm fw-bold'>NGÀY ĐI</div>
    <input
      class='home__select rounded-pill border-0'
      style='outline: none;'
      type='date'
      name='day'
    />
  </div>
  {{! <button onclick="onNavigateTo('search')" class='btn btn-primary rounded-pill ms-auto px-5'>Tìm
      xe</button> }}
  <input
    type='submit'
    class='btn btn-primary rounded-pill ms-auto px-5 bg-primary text-white'
    value='TIẾP THEO'
  />
</div>