<div class='bg-white p-3'>
  <div class='d-flex align-items-center pb-2 gap-2 border-bottom'>
    <div class='fw-semibold'>Nhà xe</div>
    <div class='bg-secondary' style='width: 1px; height: 20px'></div>
    <div>
      <span class='text-primary'>{{Coach.name}}</span>
    </div>
  </div>
  <div class='py-2 d-flex justify-content-between'>
    <div class='d-flex align-items-center gap-2'>
      <img src='{{Coach.Garage.imgUrls.[0]}}' width='50px' alt='' class='rounded-pill shadow' />
      <div class='fw-bold fs-6'>{{Coach.Garage.name}}</div>
    </div>
    <div class='d-flex align-items-center justify-content-between text-center w-50'>
      <div>
        <div class='fw-bold fs-5'>{{time.startTime}}</div>
        <p>
          {{time.startDate}}
        </p>
        <div class='fw-bold fs-6 text-secondary'>{{startStation.city}}</div>
      </div>
      <div style='position: relative; width: 30%'>
        <div style='width: 100%; border-top: 2px dashed #000'></div>
        <i
          style='position: absolute; top: 50%; left: 50%; transform:
          translate(-50%, -50%);'
          class='fa-regular fa-circle bg-white'
        ></i>
      </div>
      <div>
        <div class='fw-bold fs-5'>{{time.endTime}}</div>
        <p>
          {{time.endDate}}
        </p>
        <div class='fw-bold fs-6 text-secondary'>{{endStation.city}}</div>
      </div>
    </div>
    <button
      onclick="onNavigateTo('garage/{{Coach.Garage.id}}/info')"
      class='btn btn-secondary rounded-pill align-self-center'
      type='button'
    >Chi tiết</button>
  </div>
</div>